/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERAL
*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F8F9;
}

.background-white {
    padding: 15px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

#main-logo {
    vertical-align: middle;
}


.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    margin: 50px;
    background-color: #FFFFFF;
    padding-left: 50px;
  }
  
.btn {
    border: 1px solid #555555;
    color: #555555;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
.btn-blue {
    background-color: #3498db;
    color: #ffffff;
    border-color: #888888;
  }
  
.btn-white {
    background-color: #ffffff;
    color:#888888;
    border-color: #888888;
  }

.container{
    background-color: white;
    margin: 50px;
}

.test-div {
    padding: 30px;
    line-height: 30px;
    margin-left: 20px;
}

.check {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    color: black;
    display: inline-block;
    text-align: center;
}

.done {
    border-color: green;
    color: green;
}

.not-done {
    border-color: red;
    color: red;
}

h4{
    margin-left: 50px;
}

.check, .list-button{
    display: inline-block;
	vertical-align: middle;
    
}

.azure{
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 15px; 
    font-size: 10px;
}

.violet{
    padding: 8px 16px;
    background-color: violet;
    color: white;
    border: none;
    border-radius: 15px; 
    font-size: 10px;
}

.green{
    padding: 8px 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px; 
    font-size: 10px;
}

.orange{
    padding: 8px 16px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 15px; 
    font-size: 10px;
}

.purple{
    padding: 8px 16px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 15px; 
    font-size: 10px;
}

.lightgreen{
    padding: 8px 16px;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 15px; 
    font-size: 10px;
}